<% title "How To Get Into Top Universities" %>
<body>
	<div id="one" class="jumbotron section vertical-center">
		<div class="container">
			<h1>Ivy League Universities Receive 2 Million Applications a Year</h1>
			<br><br>
			<p class="medium">How are you standing out?</p>
		</div>
		<a href="#two" class="down"><button type="button" class="bar">The Secret <img src="/images/white_arrow_down.png" height="40px" width="40px"></button></a>
	</div>
	<div id="two" class="jumbotron section vertical-center">
		<div class="container">
			<h1 class = "black">90% of College Applicants Are Doing it Wrong</h1>
			<br><br>
			<p class="medium black">There is an 80/20 strategy to writing killer college essays. It's not about what you write, but about how you write.</p>
		</div>
				<a href="#three" class="down"><button type="button" class="bar black">Read about Eva's story <img src="/images/black_arrow_down.png" height="40px" width="40px"></button></a>
	</div>
	<div id="three" class="jumbotron section vertical-center">
		<div class="container">
			<h1>Eva wasn't a 2400 SAT scorer. Yet she got into Stanford...</h1>
			<br><br>
			<p class="medium">As with most things in life, 80% of results is achieved in 20% of your time. In Eva's case, she spent 20% of the time others spent, yet achieved 80% more. This is attributed to something called the Winners' Effect. We are teaching you that in our guide.</p>
		</div>
		<a href="#four" class="down"><button type="button" class="bar">What You Will Get <img src="/images/white_arrow_down.png" height="40px" width="40px"></button></a>
	</div>
	<div id="four" class="jumbotron section vertical-center">
		<div class="container">
			<h1 class = "black">so...what's inside the book?</h1>
			<br><br>
			<p class="medium black">It's a comprehensive book that leaves nothing to chance.</p>
		</div>
		<a href="#five" class="down"><button type="button" class="bar black">Learn more <img src="/images/black_arrow_down.png" height="40px" width="40px"></button></a>

	</div>
	<div id="five" class="jumbotron section vertical-center">
		<div class="container">
			<h1>Sneak Preview</h1>
			<br><br>
			<p class="medium">Take a little look, just a little.</p>
		</div>
		<a href="#six" class="down"><button type="button" class="bar">Learn more <img src="/images/white_arrow_down.png" height="40px" width="40px"></button></a>
	</div>
	<div id="six" class="jumbotron section vertical-center">
		<div class="container">
			<h1 class="black">so what are others saying?</h1>
			<br><br>
			<p class="medium black italic">"To be honest, it was mind-blowing..." -Concerned Tiger Mum</p>
		</div>
			<a href="#seven" class="down"><button type="button" class="bar black">Learn more <img src="/images/black_arrow_down.png" height="40px" width="40px"></button></a>
	</div>
	<div id="seven" class="jumbotron section vertical-center">
		<div class="container">
			<h1>Life doesn't wait for the slow</h1>
			<br><br>
			<p class="medium">Are you the slow?</p>
		</div>
		<a href="#eight" class="down"><button type="button" class="bar">Learn more <img src="/images/white_arrow_down.png" height="40px" width="40px"></button></a>
	</div>
	<div id="eight" class="jumbotron section vertical-center">
		<div class="container">
			<h1 class="black">Click it, just click it.</h1>
			<br><br>
				<button class="btn-danger btn-lg" onclick="alert('Hold it there, babe!')">Buy it!</button>
		</div>
		<a href="#one" class="down"><button type="button" class="bar black">Go to top <img src="/images/black_arrow_up.png" height="40px" width="40px"></button></a>
	</div>
</body>
</html>