<% title "How To Get Into Top Universities" %>
<body>
	<nav class = "navbar navbar-inverse navbar-fixed-top translucent" role ="navigation">
		<div class="nav navbar-nav">
			<li><a href="#one" class="bold">The Problem</a></li>
			<li ><a href="#two" class="bold">80/20 Rule</a></li>
			<li><a href="#three" class="bold">Content Page</a></li>
			<li><a href="#four" class="bold">Sneak Preview</a></li>
			<li><a href="#five" class="bold">Track Record</a></li>
			<li><a href="#six" class="bold">Testimonials</a></li>
			<li><a href="#seven" class="bold">Inspiration</a></li>
			<li><a href="#eight" class="bold">Buy</a></li>
			<li><a href="mailto:ivyedges@gmail.com?Subject=Hello!" class="bold">Contact</a></li>
	</div>
	</nav>
	<div id="one" class="jumbotron section vertical-center">
		<div class="container">
			<h1>Ivy League Universities Receive 2 Million Applications a Year</h1>
			<br><br>
			<p class="medium">How are you standing out?</p>
		</div>
		<a href="#two" class="down"><button type="button" class="bar">Learn More <img src="/images/white_arrow_down.png" height="40px" width="40px"></button></a>
	</div>
	<div id="two" class="jumbotron section vertical-center">
		<div class="container">
			<h1 class = "black">There's Something 80% of College Applicants Don't Know</h1>
			<br><br>
			<p class="medium black">The 80/20 rule is at play here.</p>

			<p class="medium black">20% of your college application will determine 80% of the results. Master this 20%, and you are guaranteed to transform your applications. Master this 20%, and you will stand out above the rest. </p>

			<p class="medium black">What our guidebook teaches is not just a hack -it's a whole new way of looking at the applications and your essays.</p>
		</div>
				<a href="#three" class="down"><button type="button" class="bar black">What you will learn <img src="/images/black_arrow_down.png" height="40px" width="40px"></button></a>
	</div>
	<div id="three" class="jumbotron section vertical-center">
		<div class="container">
			<h1 class="black">What You Will Learn</h1>
			<br>
			<p class="medium black">The commonapp application has many parts. The smart applicant is one who can synergize them into one coherent whole. We help you become that applicant.</p>
			<div class="row-fluid">
				<div class="col-md-4">
					<div class="panel panel-primary translucent">
						<div class="panel-heading">
						<h2>Ideation</h2>
						</div>
						<div class="panel-body">
						<p class="small black">How to generate essay ideas that are uniquely you</p>
						</div>
					</div>
						<div class="panel panel-warning translucent">
						<div class="panel-heading">
							<h2>Essay Writing</h2>
						</div>
						<div class="panel-body">
						<p class="small black">How to overcome mental block and write mind-blowing essays</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-success translucent">
						<div class="panel-heading">
							<h2>Psychology</h2>
						</div>
						<div class="panel-body">
						<p class="small black">Inner psychology of admissions officers </p>
						</div>
					</div>
					<div class="panel panel-info translucent">
						<div class="panel-heading">
							<h2>Interview Tactics</h2>
						</div>
						<div class="panel-body">
						<p class="small black">How to turn the interview to your advantage</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-danger translucent">
						<div class="panel-heading">
							<h2>Sample Essays</h2>
						</div>
						<div class="panel-body">
						<p class="small black">Sample commonapp essays for Ivy Leagues</p>
						</div>
					</div>
					<div class="panel panel-primary translucent">
						<div class="panel-heading">
							<h2>CV and Testimonials</h2>
						</div>
						<div class="panel-body">
						<p class="small black">Counter-intuitive method to craft your CV and testimonials</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="#four" class="down"><button type="button" class="bar">Sneak Preview <img src="/images/white_arrow_down.png" height="40px" width="40px"></button></a>
	</div>
	<div id="four" class="jumbotron section vertical-center">
		<div class="container">
			<h1 class = "black">Sneak Preview</h1>
			<br><br>
			<p class="medium black">It's a comprehensive guide that leaves nothing to chance.</p>
			<div class="row-fluid">
				<div class="col-md-6">
					<img src="/images/content_page.png" alt="College admissions secret content page" vspace="15">
					<img src="images/first_page.png" alt="College admissions secret first page" vspace="15">
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-4" style="padding-top:100px">
					<div class="panel panel-mine">
						<div class="panel-heading">
							<h2 class="enhanced">Table of Content</h2>
							<p class="small">Walkthrough of the entire college application, with all the tips and guidance you need</p>
						</div>
				</div>
				<div style="height:250px"></div>
					<div class="panel panel-mine">
						<div class="panel-heading">
							<h2 class="enhanced">Sample Essays</h2>
							<p class="small">Essays that have earned places at Harvard, Stanford, Cornell and various other Ivy Leagues...</p>
						</div>
				</div>
			</div>
		</div>
	</div>
		<a href="#five" class="down"><button type="button" class="bar black">Track Record <img src="/images/black_arrow_down.png" height="40px" width="40px"></button></a>

	</div>
	<div id="five" class="jumbotron section vertical-center">
		<div class="container">
			<h1>Track Record</h1>
			<p class="medium">Some Universities That Our Readers Have Been Accepted Into</p><br>
			<div class="row-fluid">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-2">
					<img src="/images/harvard.png" height="120px" vspace="5"><br>
					<img src="/images/brown.png" height="120px" vspace="5"><br>
					<img src="/images/cornell.gif" height="120px" vspace="5">
				</div>
				<div class="col-sm-4">
					<img src="/images/stanford.png" height="120px" vspace="5"><br>
					<img src="/images/gatech.png" height="120px" vspace="5"><br>
					<img src="/images/upenn.png" height="120px" vspace="5">
				</div>
				<div class="col-sm-2">
					<img src="/images/yale.png" height="120px" vspace="5"><br>
					<img src="/images/mit.png" height="120px" vspace="5"><br>
					<img src="/images/princeton.png" height="120px" vspace="5">
				</div>
				<div class="col-sm-2">
				</div>
			</div>
		</div>
		<a href="#six" class="down"><button type="button" class="bar">Testimonials <img src="/images/white_arrow_down.png" height="40px" width="40px"></button></a>
	</div>
	<div id="six" class="jumbotron section vertical-center">

		<div class="container">
			<h1 class="black">How did our readers find it?</h1>
						<br><br>
			<h2 class="black">Students</h2>
			<div class="well">
			<p class="small black styled">"This book was a great boost, and I had pretty solid credentials to start with, but never did I dream of being accepted into 4 Ivy League schools at the same time" <br>-Rebecca Lim, Wharton, Finance'16</p>
			</div>
			<div class="well">
			<p class="small black styled">"It's a paradigm shift that greatly transformed the way I looked at commonapp. I attribute 80% of my success to the principles from this book" <br>-Harrison Johannes, Stanford, EE'17</p>
			</div>
			<div class="well">
			<p class="small black styled">"I didn't have a perfect SAT score; in fact, it was in the low 2000's, but this book taught me how to sidestep this barrier" <br>-Utkarsh, CMU, Physics'15</p>
			</div>
			<h2 class="black">Parents</h2>
			<div class="well">
			<p class="small black styled">"I know of parents who have sunk in thousands of dollars for a college consultant, and yet failed to achieve results. This book did that for my son at a fraction of the cost" <br>-Mr George Burns</p>
			</div>
			<div class="well">
			<p class="small black styled">"Very comprehensive guide that, when coupled with hard work, advice from teachers and mentors, and some long hours at the desk, really aided my daughter's progress -now, she's really enjoying herself at Yale" <br>-Mrs Linda</p>
			</div>
			<div class="well">
			<p class="small black styled">"I had very high hopes for my son, and he, himself, really wanted Ivy League. But never did we expect him to receive offers from Harvard, Princeton, and Stanford by applying the learnings from this guide" <br>-Mr Ramesh Utkarsh</p>
			</div>
		</div>
			<a href="#seven" class="down"><button type="button" class="bar black">What are you waiting for? <img src="/images/black_arrow_down.png" height="40px" width="40px"></button></a>
	</div>
	<div id="seven" class="jumbotron section vertical-center">
		<div class="container">
			<h1>Do you have what it takes?</h1>
			<br><br>
			<p class="medium">Getting into an Ivy League university is one hell of a global competition.<br> Would you do everything it takes to emerge the winner?</p>
		</div>
		<a href="#eight" class="down"><button type="button" class="bar">Get it now <img src="/images/white_arrow_down.png" height="40px" width="40px"></button></a>
	</div>
	<div id="eight" class="jumbotron section vertical-center">
		<div class="container">
			<h1 class="black">Every Strategy You Need, for just $20</h1>
			<p class="medium black">Save your $5000 for your college consultant, until you've read this.</p>
			<img src="/images/book_standing.png" alt="Sample Commonapp Essays" style="margin-right:50px" height="300px" vspace="50px">
			<img src="/images/book.png" alt="How to Get Into Ivy League" height="350px" vspace="30px">
			<br>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="translucent">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="86YLK2RMHRCY6">
	<input type="image" src="http://www.beautybydesignonline.com/images/red-order-button.png" border="0" name="submit" alt="Pay via Paypal">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>
<br>
<br>
<br>
<p class="black small"> If you need any help or information, simply drop us a mail at <a href="mailto:ivyedges@gmail.com">ivyedges@gmail.com</a>!</p><br><br>
		</div>
		<a href="#one" class="down"><button type="button" class="bar black">Go to top <img src="/images/black_arrow_up.png" height="40px" width="40px"></button></a>

	</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50997504-1', 'howtogetintoivyleague.com');
  ga('send', 'pageview');

</script>
</body>
</html>