<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ivy Edges</title>
</head>
<body>
	<div id="one" class="jumbotron section vertical-center">
		<div class="container">
			<h1>The Ivy League Universities Receive 2 Million Applications a Year</h1>
			<br><br>
			<p class="medium">How do you stand out?</p>
		</div>
		<a href="#two" class="down"><button type="button" class="bar">Learn more <img src="http://d3pstr783pkpqc.cloudfront.net/releases/a5d09a713c93adb32db957cde858a25ae2da6547/img/landing/arrow-down@2x.png" height="40px" width="40px"></button></a>
	</div>
	<div id="two" class="jumbotron section vertical-center">
		<div class="container">
			<h1 class = "black">There is a secret to college applications</h1>
			<br><br>
			<p class="medium black">And here it lies...</p>
		</div>
				<a href="#three" class="down"><button type="button" class="bar black">Learn more <img src="http://d3pstr783pkpqc.cloudfront.net/releases/a5d09a713c93adb32db957cde858a25ae2da6547/img/landing/arrow-down@2x.png" height="40px" width="40px"></button></a>
	</div>
	<div id="three" class="jumbotron section vertical-center">
		<div class="container">
			<h1>The strange story of how this happened.</h1>
			<br><br>
			<p class="medium">Well, Matthew called me one day...</p>
		</div>
		<a href="#four" class="down"><button type="button" class="bar">Learn more <img src="http://d3pstr783pkpqc.cloudfront.net/releases/a5d09a713c93adb32db957cde858a25ae2da6547/img/landing/arrow-down@2x.png" height="40px" width="40px"></button></a>
	</div>
	<div id="four" class="jumbotron section vertical-center">
		<div class="container">
			<h1 class = "black">so...what exactly will I get?</h1>
			<br><br>
			<p class="medium black">It's a comprehensive book that leaves nothing to chance.</p>
		</div>
		<a href="#five" class="down"><button type="button" class="bar black">Learn more <img src="http://d3pstr783pkpqc.cloudfront.net/releases/a5d09a713c93adb32db957cde858a25ae2da6547/img/landing/arrow-down@2x.png" height="40px" width="40px"></button></a>

	</div>
	<div id="five" class="jumbotron section vertical-center">
		<div class="container">
			<h1>Sneak Preview</h1>
			<br><br>
			<p class="medium">Take a little look, just a little.</p>
		</div>
		<a href="#six" class="down"><button type="button" class="bar">Learn more <img src="http://d3pstr783pkpqc.cloudfront.net/releases/a5d09a713c93adb32db957cde858a25ae2da6547/img/landing/arrow-down@2x.png" height="40px" width="40px"></button></a>
	</div>
	<div id="six" class="jumbotron section vertical-center">
		<div class="container">
			<h1 class="black">so what are others saying?</h1>
			<br><br>
			<p class="medium black italic">"To be honest, it was mind-blowing..."</p>
		</div>
			<a href="#seven" class="down"><button type="button" class="bar black">Learn more <img src="http://d3pstr783pkpqc.cloudfront.net/releases/a5d09a713c93adb32db957cde858a25ae2da6547/img/landing/arrow-down@2x.png" height="40px" width="40px"></button></a>
	</div>
	<div id="seven" class="jumbotron section vertical-center">
		<div class="container">
			<h1>Life doesn't wait for the slow</h1>
			<br><br>
			<p class="medium">Are you the slow?</p>
		</div>
		<a href="#eight" class="down"><button type="button" class="bar">Learn more <img src="http://d3pstr783pkpqc.cloudfront.net/releases/a5d09a713c93adb32db957cde858a25ae2da6547/img/landing/arrow-down@2x.png" height="40px" width="40px"></button></a>
	</div>
	<div id="eight" class="jumbotron section vertical-center">
		<div class="container">
			<h1 class="black">Click it, just click it.</h1>
			<br><br>
			<btn class="btn-primary btn-lg">Hmm...</btn>
		</div>
		<a href="#one" class="down"><button type="button" class="bar">Go to top <img src="http://d3pstr783pkpqc.cloudfront.net/releases/a5d09a713c93adb32db957cde858a25ae2da6547/img/landing/arrow-down@2x.png" height="40px" width="40px"></button></a>
	</div>
</body>
</html>