<body>
<div class="jumbotron">
<h1>Thank you for your purchase!</h1>
<p>Refer us to your friends! Simply email us your friend's email address and name at <a href="mailto:ivyedges@gmail.com">ivyedges@gmail.com</a> after the referral and we'll pay you $10 after the sale is confirmed.
</div>
</body>